.card-title{
  text-align: center ;
  background-image: url(../images/h_img.jpg);
  background-origin: border-box;

}

.card-footer{
  text-align: center;
}
.services{
  text-align: center;
  background-image: url(../images/s_image.jpg);
  
}
.contacts{
  text-align: center;
  background-image: url(../images/c_image.jpg); 
}