.card-title{
  text-align: center;
  background-image: url(../images/h_img.jpg);
  padding-top: 13em;
  color:white;
  background-position: center;
  background-size: cover;
}
.card-body{
  text-align: center;
}

.card-footer{
  text-align: center;
}
.services{
  
  background-image: url(../images/s_image.jpg);
  background-position: center;
  background-size: cover;
  padding: 5em;
  color:white;
}
.contacts{
  
  background-image: url(../images/c_image.jpg); 
  background-position: center;
  background-size: cover;
  padding: 50px;
  color:white;
}
.logo{
  padding-top:5em;
  padding-bottom:1em

}
.input{
   text-align:start;
   padding-bottom: 100px;
}
.space{
  padding-bottom: 2em;
}
.portfolio{
  width: 80%;
  padding-left: 200px;
}
.transparent{
background: transparent;
}
.font{
  font-family: "Roboto Condensed", sans-serif;
}
